/* Reset */
ul {
  list-style-type: none;
  padding: 0;
}

body {
  font-family: "Comic Neue", cursive;
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  text-align: center;
}

.line {
  margin-top: 50px;
  border-bottom: 2px solid black;
  width: 10%;
  margin-inline: auto;
}

.table {
  width: 900px;
  max-width: 100%;
  margin-inline: auto;
}

.form {
  width: 600px;
  max-width: 95%;
  padding-left: 0;
}

.btn {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

header {
  display: flex;
  justify-content: right;
  border: 3px solid black;
  margin-left: 5px;
  margin-top: 5px;
  width: 98%;
}

nav ul {
  display: flex;
  font-size: 1rem;
}

nav ul li {
  list-style-type: none;
  margin-left: 1rem;
}

.linkBtn {
  /* text-decoration: none; */
  color: black;
  border: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  padding-top: 10px;
  border-left: 2px solid black;
  width: 100%;
}

.linkBtn-1 {
  /* text-decoration: none; */
  color: black;
  border: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 850px;
  /* margin-bottom: -20px; */
  width: 90%;
}

.active {
  color: purple;
}

.container {
  padding-top: 20px;
}

.addNew {
  padding-top: 20px;
}

button {
  border: 2px solid black;
  box-shadow: 2px 2px 1px black;
  padding: 0.25rem;
}

input {
  height: 30px;
  margin: 5px 0;
  border: 3px solid black;
}

.contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
}

.contact p,
.contact ul {
  text-align: left;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.contact ul {
  margin-left: 3rem;
}

/* Footer Section */
footer {
  width: 100%;
  border: 3px solid black;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  
}
